<!DOCTYPE html>
<html lang="en">
<head>

     <title>Uptime System - Free Trial</title>
     <link rel="shortcut icon" href="https://cdn.discordapp.com/avatars/503294559111872532/bec883f565e23b78f37ac08350787446.png?size=1024" type="image/x-icon" />
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="title" content="Uptime System - Free and Stable">
     <meta name="description" content="It allows you to uptime your projects 24/7 for free.">
     <meta name="keywords" content="uptime robot, uptime, uptime nedir, uptimesystem, uptimesistem, uptime system, uptime sistem, uptime bot, uptime glitch, glitch uptime, uptime yapma, free uptime, uptime free, uptime system, 7/24 bot, discord uptime, uptime discord, bedava uptime, uptime bedava, uptime free trial">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
     <meta name="theme-color" content="#FF0000">
     <meta property="og:theme-color" content="#FF0000" />

     <meta property="og:image" content="https://cdn.discordapp.com/avatars/503294559111872532/bec883f565e23b78f37ac08350787446.png?size=1024"/>
     <link rel="stylesheet" href="css/bootstrap.min.css">
     <link rel="stylesheet" href="css/font-awesome.min.css">
     <link rel="stylesheet" href="css/aos.css">
     <link rel="stylesheet" href="css/button-1.css">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="css/tooplate-gymso-style.css">
 <script src="https://kit.fontawesome.com/3d8aee06ed.js" crossorigin="anonymous"></script>
</head>

<style>
body {
	color: #f13a11;
}
h1 {
	color: #f13a11;
}

  </style>


<style type="text/css">
    html, body {
       margin:0;
       height:100%;
    }
    #tamcerceve {
       min-height:100%;
       position:relative;
    }
    #ortaAlan{
       padding:10px;
       padding-bottom:120px;   /* footer yüksekliği */
    }
    #altfooter {
       position:absolute;
       bottom:0;
       width:100%;
       height:120px;   /* footer yüksekliği */
       background:#6cf;
       text-align:center;
    }
    </style>




<body data-spy="scroll" data-target="#navbarNav" data-offset="50">


    <!-- MENU BAR -->
<nav class="navbar navbar-expand-lg fixed-top">
<div class="container">
<a class="navbar-brand" href="#">Uptime System</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
<ul class="navbar-nav ml-lg-auto">
<li class="nav-item">
<a href="/premium" class="nav-link smoothScroll">&emsp;Premium&emsp;</a>
</li>
<a>|</a> 
<li class="nav-item">
<a href="/sponsor" class="nav-link smoothScroll">&emsp;Sponsor&emsp;</a>
</li>
<a>|</a> 
<li class="nav-item">
<a href="https://discord.gg/2xsx2fKZjz"   target="_blank" class="nav-link smoothScroll">&emsp;Discord&emsp;</a>
</li>
&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;
<li class="nav-item">
<a href="/login" class="nav-link3 smoothScroll">&emsp;Login with Discord&emsp;</a>
</li></ul></div></div></nav>


     <!-- HERO -->
     <section class="hero d-flex flex-column justify-content-center align-items-center" id="home">

            <div class="bg-overlay"></div>

               <div class="container">
                    <div class="row">

                         <div class="col-lg-8 col-md-10 mx-auto col-12">
                              <div class="hero-text mt-5 text-center">

                                    <h6 data-aos="fade-up" data-aos-delay="300">The most advanced uptime site with new systems.</h6>

                                    <h1 class="text-white" data-aos="fade-up" data-aos-delay="500"> Uptime System</h1>


                                    <a href="/login" class="btn custom-btn bordered mt-4" data-aos="fade-up" data-aos-delay="700">Login with Discord</a>
                                   




                              </div>
                         </div>

                    </div>
               </div>

  
                
     </section>



     



     <!-- SCRIPTS -->
     <script src="js/jquery.min.js"></script>
     <script src="js/bootstrap.min.js"></script>
     <script src="js/aos.js"></script>
     <script src="js/smoothscroll.js"></script>
     <script src="js/custom.js"></script>

</body>
</html>